= form_for(@taxonomy, :url => url_for(:action => :destroy, :id => @taxonomy.id), :html => { :method => :delete }) do |f|
  %p Are you sure you want to delete this taxonomy?
  
  %p
    = link_to 'No', :action => 'index'
    %button{ :type => 'submit' } Yes!